body {
    font-family: arial;
}

.text-center {
    // text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fefefefe;
}

.hello {
    color: #009688;
}

h5 {
    // text-align: left;
}
.meomeomeo {
    transform: rotate(45, 50, 50);
}
.anotherme {
    text-align: center;
}

section {
    border-bottom: solid 1px;
}
a {
    color: #000000;
    text-decoration: none;
}